
#content1 {
     background: url(http://semois-semoy.org/inc/uploads/2015/12/The-Best-Running-Shoes-for-Plantar-Fasciitis-1.jpg);
     background-size: cover;
     background-position: center;
     top: 0;
     height: 1000px; 
}

#content2 {
     margin-top: 1000px; 
}

.container{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
}
#getstarted {
	text-align: center;
	padding-top: 22%;
	padding-left: 55%;
	font-family: 'Open Sans Condensed', sans-serif;
}
#getstarted p {
	font-size: 3em;
	color: white;
}
#lgbutton {
	color: red;
	transition: all 0.5s;
  	cursor: pointer;
  	margin: 5px;
}
#lgbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#logo i{
	color: red;
}
